.content {
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.banner {
  margin-right: 2rem;
}

.student {
  text-align: center;
  border-style: solid;
  padding: 10px;
}

/* .plan {
}

.addPlan {
} */

.planInfo {
  border-left: 5px solid;
  align-items: center;
  width: 30%;
}

.planInfo form {
  margin-left: 2rem;
  width: 100%;
  height: 100%;
}

.ProjectName,
.ProjectDesc,
.ProjectSupervisor {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  background: rgba(71, 147, 227, 1);
}
h2 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

table,
th,
td {
  border: 5px solid black;
  border-collapse: collapse;
  word-wrap: break-word;
}

td {
  text-align: left;
  max-width: 0;
  max-height: fit-content;
}

td.column-1 {
  width: 20%;
}

td.column-2 {
  width: 42%;
}

td.column-3 {
  width: 20%;
}

td.column-4 {
  width: 38%;
}

td th,
td {
  padding: 5px;
}

.tableSize {
  width: 100%;
}
