.banner{
    padding-left: 30px;
}
  
.student{
    text-align: center;
    border-style:solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-right: 150px;
    margin-left: 100px;
}
  
.plan {
    padding-top: 25px;

}

.addPlan {
    padding-top: 50px;
}

.planInfo {
    margin-left: 10px;
    padding-left: 40px;
    padding-top: 100px;
    border-left : 5px solid;
}

.ProjectName, .ProjectDesc {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
