#mark-box {
  justify-content: center;
  /* border: 1px solid black; */
  padding: 1.2rem;
  background: rgba(235, 168, 86, 0.769);
  border-radius: 10px;
  height: fit-content;
  width: 60%;
  padding: 20px;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 10px;
  color: black;
}

.skill-bars {
  padding: 25px 30px;
  width: 600px;
  background-color: var(--containerColour);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: fixed;
  /*right:80px; 
  top:50px; */
  left: 80px;
  top: 60%;
}

.skill-bars .bar {
  margin: 20px 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 30px;
}

.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.GoalDescription span::after {
  content: attr(afterBack);
}

.goal {
  font-size: large;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
  background-color: #fff;
}

.banner {
  padding-left: 30px;
}

.student {
  text-align: center;
  border-style: solid;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.projectBox {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
