.banner{
    padding-left: 30px;
}
  
.student{
    text-align: center;
    border-style:solid;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
  

.goalName, .goalDescription {
    padding-top: 25px;
}

.addgoal {
    padding-top: 50px;
}

.currentGoal {
    margin-left: 10px;
    padding-left: 20px;
    padding-top: 100px;
    border-left : 5px solid;
}

.deleteIcon {
    padding-left: 60px;
    width: 20px;
    height: 20px;
    margin-top: 1rem;
}

.fontsizeGoal {
    font-size: 25px;
}