body {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: azure;
    alignment: center;
    max-width: 500px;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.people-box .supervisor{
    padding-left: 2rem;
}
