:root {
    --bodyColour: #ffdac4;
    --containerColour: #f6b98e;
}

.edit-profile-box span{
    margin-right: 20px;
}



button{
    background-color: var(--containerColour);
    color: white;
    height: 30px;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    justify-content: flex-end;
}

.email-row,.password-row{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.button-box{
    margin-left: auto;
}

button:hover{
    opacity: 50%;
}