:root {
    --bodyColour: #ffdac4;
    --containerColour: #f6b98e;
}

body {
    height: 100%;
    margin:0;
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background-color: var(--bodyColour);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Font Smoothing */
font{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.welcome-msg{
    font-size: 50px;
}

.login-box{
    width: 100%;
    height: 100%;
    margin: 10% 10% 10% 10%;
    padding: auto 0 auto 0;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.login-box p{
    text-align: center;
}

.login-row{
    display: flex;
    flex-direction: row;
    margin: 0 0 1rem 0;
    align-items: center;
}


.error{
    background: #FFCDD2 url(error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;
}

.login-box img{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    border-radius: 100px;
    margin-bottom: 0;
    margin-right: 2rem;
}


.login-box input[type=text]{
    height: 60px;
    width: 100%;
    background: transparent;
}

.login-box input[type=password]{
    height: 60px;
    width: 100%;
    background: transparent;
}

.login-box [type=submit] {
    background-color: var(--containerColour);
    color: white;
    height: 60px;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
}
