:root {
    --bodyColour: #ffdac4;
    --containerColour: #f6b98e;
}

body{
    background-color: var(--bodyColour);
}

h1{
    text-align: center;
}


.add-meet-box {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    padding: 1rem 5rem 1rem 5rem;
    /* border: 1px solid black; */
    margin-right:2rem;
} 

.people-box{
    margin: 0 0 0 0 ;
}

.people-box th{
    padding-right: 2rem;

}

.people-box tr{
    margin: 0 0 2rem 0;
}

.add-meet-box [type=submit] {
    background-color: var(--containerColour);
    color: white;
    height: 3em;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-radius: 5px;
}

.people-box, .time-box, .date-box{
    margin-bottom: 2rem;
}

.meeting-list-box{
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    padding: 1rem 5rem 1rem 5rem;
    /* border: 1px solid black; */
}

.meeting-box{
    background-color:var(--containerColour);
    /* border: 1px solid black; */
    width: 500px;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 10px;
}

.meeting-box div{
    padding-bottom: 3px;
}