.content {
  width: 100%;
  font-family: "Roboto", Verdana, Arial, sans-serif;
  justify-content: center;
}

.student-proposed-project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planning-box {
  background-color: var(--containerColour);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-break: break-word;
  margin: 2rem 5rem 0 5rem;
}

.planning-box:hover {
  cursor: pointer;
}

.planning-box .planning-header {
  flex: 20%;
  background-color: var(--DarkercontainerColour);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.planning-box .planing-body {
  margin: 30px 10px;
  flex: 60%;
  display: grid;
  place-content: center;
}

.planning-box .planning-footer {
  background-color: var(--DarkercontainerColour);
  flex: 20%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
}

.approve-project-box {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 0;
  opacity: 0;
}

.approve-project-box button {
  font-family: "Roboto", Verdana, Arial, sans-serif;
  background-color: var(--containerColour);
  border-radius: 10px;
  border-width: 0;
  width: 100px;
  height: 50px;
  color: white;
  opacity: 50%;
  margin-right: 20px;
}

.approve-project-box button:hover {
  opacity: 100%;
  cursor: pointer;
}

.btn-box {
  display: flex;
  flex-direction: row;
}

.hidden {
  opacity: 0;
  height: 0;
  display: none;
}

.visible {
  opacity: 100%;
  width: 100%;
  display: flex;
}
