body {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background: url("../../src/icon/supervisor_login_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Font Smoothing */
font{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.welcome-msg{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    position: sticky;
}

.login-box{
    width: 300px;
    height: 200px;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
}

/*div#login-box table caption{*/
/*    font-size: 0%;*/
/*}*/

.login-box table img{
    height: 70%;
    width: 70%;
    padding: 0.2em 0.2em;
    background-color: aliceblue;
    border-radius: 100px;
}


.login-box table fieldset{
    background: transparent;
    padding: 0.5em;
    margin: 0.5em;
}

.login-box table [type=submit] {
    background-color: cornflowerblue;
    color: white;
    height: 3em;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 0.5em;
}

.login-box table input{
    height: 2em;
    width: 100%;
    margin-left: 0.5em;
}


