.content{
    display: flex;
    width: 100%;
}

.add-meet-box {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    width: 100%;
    /* border: 1px solid black; */
}

h2{
    font-size: 20px;
}

.people-box{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0 ;
}

.people-box th{
    padding-right: 2rem;
}

.people-box tr{
    margin: 0 0 2rem 0;
}

.add-meet-box [type=submit] {
    background-color: var(--containerColour);
    color: white;
    height: 3em;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-radius: 5px;
}

.add-meet-box p{
    font-size: 10px;
}

.people-box, .time-box, .date-box .name-box{
    margin-bottom: 2rem;
}

.add-meet-box [type=text]{
    font-family: "Roboto", Verdana, Arial, sans-serif;
    width: 100%;
    height: 20px;
    background: transparent;
    border-width: 0 0 2px 0;
}

.meeting-list-box{
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    justify-content: center;
    /* border: 1px solid black; */
    width: 100%;
}

.meeting-box{
    background-color:var(--containerColour);
    /* border: 1px solid black; */
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    color: white;
}

.meeting-box div{
    padding-bottom: 3px;
}

.popup-box{
    display: none; /* Hidden by default */
    background-color: var(--bodyColour);
    border-radius: 10px;
    margin-left: 32%;
    margin-right: 32%;
}

.addMeet-btn{
    margin-left: 20px;
    background-color: var(--containerColour);
    border-radius: 10px;
    border-width: 0;
    width: 100px;
    height: 30px;
    color: white;
}

.addMeet-btn:hover{
    opacity: 50%;
    border: 1px solid black;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close-btn:hover, .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

span{
    display: flex;
    justify-content: center;
    align-items: center;
}