body {
    font-family: "Roboto", Verdana, Arial, sans-serif;
    font-size: 100%;
    background: url("../src/icon/supervisor_login_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Font Smoothing */
font {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.error {
    background: #FFCDD2 url(../supervisor/css/error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;
}

.register-box {
    margin-top: 4rem;
    width: 500px;
    z-index: 15;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* Register Button Styling*/
.register-box [type=submit] {
    background-color: cornflowerblue;
    color: white;
    height: 3em;
    width: 100%;
    border-style: none;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 0.5em;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    border-spacing: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: ghostwhite;
}
form {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
}
.radioBtn {
    position: relative;
    display: block;
}
.radioBtn label {
    display: block;
    background: rgba(0, 0, 0, 0.2);
    color: #000;
    border-radius: 5px;
    padding: 10px 35px;
    border: 2px solid grey;
    margin-bottom: 5px;
    cursor: pointer;
}
.radioBtn label:after, .radioBtn label:before {
    content: "";
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background:grey;
}
.radioBtn label:before {
    background: transparent;
    transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
    z-index: 2;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center;
    width: 0;
    height: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
input[type="radio"] {
    display: none;
    position: absolute;
    width: 100%;
    appearance: none;
}
input[type="radio"]:checked + label {
    background:grey;
    animation-name: blink;
    animation-duration: 1s;
    border-color: $accentcolor;
}
input[type="radio"]:checked + label:after {
    background: $accentcolor;
}
input[type="radio"]:checked + label:before {
    width: 20px;
    height: 20px;
}
